<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale-1">
        <link rel="shortcut icon" href="#">
        <link rel="icon" href="#">
        <title>SMSHOPPH</title>
    </head>
    <body>
        <h1>SMSHOPPH</h1>
        <ul>
            {{#each product}}
            <li>{{productName}} {{productDetails}} {{productAmount}}</li>
            {{/each}}
        </ul>

    </body>
</html>